@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 text-sm;
  font-family: 'Montserrat', sans-serif;
}

input,
textarea,
select {
  @apply border rounded px-3 py-2 w-full text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}

button {
  @apply transition-colors duration-150 ease-in-out;
}

/* Nouvelles classes pour les boutons */
.btn-secondary {
  border: 2px solid #dbae61 !important;
  color: #dbae61 !important;
  background: transparent !important;
}

.btn-secondary:hover {
  background: #dbae61 !important;
  color: white !important;
}

.btn-primary {
  background: linear-gradient(to right, #dbae61, #c19b4f) !important;
  @apply text-white;
}

h1, h2, h3, h4, h5 {
  @apply font-semibold;
}